<img class="back" ng-src="components/images/bg.jpg">

<div class="users form-group" ng-show="firstuser">
<div class="user form-group" ng-repeat="User in users">

		<img ng-if="!isUndefined(User.avatarurl)"  class="avatar" ng-src="{{User.avatarurl}}" >
		<br>
		

		<h4>{{User.usenname}}</h4>
		


	<input type="password" ng-class="{'isValid': status}" ng-model="pin" ng-change="checkPassword(pin, User.password,User)" class="form-control" > </input>
	</div>
	<div>
        <md-button ng-click="goButton()" class="md-raised md-primary gobtn" ng-disabled="!status" >Go!</md-button>

	</div>


</div>