/* app css stylesheet */
.back {
    position: fixed;
    width: 110%;
    height: 110%;
    background-image: url('components/images/bg.jpg');
    -webkit-filter: blur(9px);
    z-index: 1;
    overflow: hidden; /* hide the overflow */
    margin: -10px -10px -10px -10px;
}

.users {
    position: relative;
    z-index: 100;
    width: 700px;
    top: 200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: -moz-border-radius: 15px;
    overflow: hidden;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;

}

.userinfo {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.08);
}

.active {
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.80) !important;
}

.md-fabsmall {
    width: 20px !important;

}

.bottom {
    position: relative;
    bottom: 10px;
}

.user {
    display: inline-block;
    width: 180px;
    height: 180px;
    /*padding: 10 10 10 10;*/
    margin: 0 auto;
    margin: 10px;

}

.gobtn {
    width: 600px;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50px;
    border-color: white;
}

.avatar2 {
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 35px;
    border-color: white;
}

.isValid.ng-dirty {
    border-color: green !important;
}

.lists {
    position: relative;
    top: 200px;
    width: 1000px;
    height: 800px;

    z-index: 10000;
    margin: 0 auto;

}

.listsContainer {
    display: inline-block;

    position: relative;
    top: 0px;
    width: 200px;
    height: 600px;
    z-index: 1000;
    margin: 0 auto;
    background-color: #000088;
}

.listContent {
    display: inline-block;
    position: relative;
    top: 0px;
    width: 700px;
    height: 600px;
    background-color: #999999;
    z-index: 1000;
    margin: 0 auto;
}

.TBar {
    width: 100%;
    background-color: #000000;
    height: 50px;
}

.BarElement {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    width: 300px;
}

.btns {
    width: 100% !important;
    top: 0px;
    padding: 10px 10px 10px 10px !important;
}

.right {
    float: right;
    position: relative;
    right: 20px;
    /*margin: 5px 5px 5px 5px;*/
}

.left {
    float: left;
    position: relative;
    left: 20px;
    /*margin: 5px 5px 5px 5px;*/
}

.big {
    font-size: 30px;
}

.white {
    color: #ffffff;
}

.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
}

/*md-toolbar h1 {*/
    /*font-size: 1.250em;*/
    /*font-weight: 400;*/
    /*margin: auto;*/
/*}*/

/*md-list .md-button {*/
    /*color: inherit;*/
    /*font-weight: 500;*/
    /*text-align: left;*/
    /*width: 100%;*/
    /*background-color: #f9f9f9;*/
/*}*/

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.fullheight {
    height: 100%;
}

.fullwidth {
    position: relative;
    width: 100%;
}

.bbt {
    height: 40px;
}

.md-whiteframe-z5 {
    /*width: 300px;*/
    /*height: 300px;*/
    -webkit-filter: drop-shadow(7px 7px 20px black);
}

.space {
    padding: 15px 15px 15px 15px;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

.bigred {
    color: #ff0000;
    font-size: large;
}
.inValid .ng-dirty{
    border-color: red !important;

}
