<md-dialog aria-label="Mango (Fruit)">
    <md-content layout="row" layout-align="center center" style="min-height: 300px;">
        <md-content layout="column" layout-align="center center">

        <md-subheader class="md-sticky-no-effect">Add Product</md-subheader>
        <md-input-container>
            <label>Name <span class="radioValue bigred">{{ pod.priority | signs }}</span></label>
            <input ng-model="pod.productname">

        </md-input-container>
            </md-content>
        <md-content layout="column" layout-align="center center">

            <md-radio-group ng-model="pod.priority" style="border:none;">
                <md-radio-button value="3">High</md-radio-button>
                <md-radio-button value="2"> Normal </md-radio-button>
                <md-radio-button value="1">Low</md-radio-button>
            </md-radio-group>
            </md-content>
    </md-content>
    <div class="md-actions" layout="row">


        <span flex></span>
        <md-button ng-click="answer()">
            Cancel
        </md-button>
        <md-button ng-click="answer(pod)" class="md-primary">
            Add Product
        </md-button>
    </div>
</md-dialog>