<md-dialog aria-label="Mango (Fruit)">
    <md-content layout="row" layout-align="center center" style="min-height: 300px;">
        <md-content layout="column" layout-align="center center">

            <md-subheader class="md-sticky-no-effect">Add Product</md-subheader>
            <md-input-container>
                <label>Name <span class="radioValue bigred">{{ pod.priority | signs }}</span></label>
                <input ng-model="pod.listname">

            </md-input-container>
            <md-checkbox ng-model="pod.forall" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
                Visible for all users
            </md-checkbox>
        </md-content>

    </md-content>
    <div class="md-actions" layout="row">


        <span flex></span>
        <md-button ng-click="answer()">
            Cancel
        </md-button>
        <md-button ng-click="answer(pod)" class="md-primary">
            Add Product
        </md-button>
    </div>
</md-dialog>