<md-list>
    <md-item ng-repeat="item in Items | orderBy:priority:false">

        <md-item-content>
            <div class="md-tile-left">
                <!--<img ng-src="{{item.name}}" class="face" alt="{{item.who}}">-->
            </div>
            <div class="md-tile-content">
                <h3>{{item.productname }}
                    <span class="right bigred" style="color: #ff0000;font-size: larger;" ng-hide="editItems">{{ item.priority | signs}}</span>
                    <span ng-show="editItems" ng-click='delItem(item.id, $index)'><i class="fa fa-times bigred right"></i></span>
                </h3>


            </div>
        </md-item-content>
        <hr>
    </md-item>
</md-list>