<div ng-repeat="list in Lists">



<md-button ng-hide="editList" type="button" class="md-primary md-hue-1 md-button md-default-theme bbt fullwidth" ng-click='setSel(list.id )' ng-class=" { active : isSel(list.id) }" >
    <i class="fa fa-circle-o" style="float: left;"></i>

    <div class="left">{{list.listname}}</div>

</md-button>

<md-button ng-show="editList" type="button" class="md-primary md-hue-1 md-button md-default-theme bbt fullwidth "  ng-click='delList(list.id, $index)' >
    <i class="fa fa-times" style="float: left;color:red;"></i>
    <div class="left">{{list.listname}}</div>

</md-button>

</div>
