<md-dialog>
    <md-content layout="row" layout-align="center center" style="min-height: 300px;">
        <md-content layout="column" layout-align="center center">

            <md-subheader class="md-sticky-no-effect">Users</md-subheader>
            <md-list>
                <md-item ng-repeat="user in users">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-if="!isUndefined(user.avatarurl)" ng-src="{{user.avatarurl}}" class="avatar2">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{user.usenname}}</h3>

                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>

        <md-content layout="row" layout-align="center center" style="min-height: 300px;">
            <md-content layout="column" layout-align="center center">


                <md-input-container>
                    <label>Name</label>
                    <input required ng-model="pod.name">


                </md-input-container>
                <md-input-container>
                    <label>Pin</label>
                    <input required type="password" ng-model="pod.pin">

                </md-input-container>
                <md-input-container>
                    <label>Repeat Pin</label>
                    <input required type="password" ng-model="pod.pin2" ng-class="{'inValid': status}"
                           ng-change="checkPin(pod.pin,pod.pin2)">

                </md-input-container>
                <md-input-container>
                    <label>Avatar </label>
                    <input ng-model="pod.avatar" ng-change="isImage(pod.avatar)">

                </md-input-container>
            </md-content>
        </md-content>


        <md-content layout="row" layout-align="center center" style="min-height: 300px;">

            <md-content layout="column" layout-align="center center">

                <div>
                    {{pod.name}}<br>

                    <div ng-if="showAvatar" id="imagecontainer"><img ng-show="showAvatar" ng-src="{{pod.avatar}}"
                                                                     class="avatar"><br>
                    </div>

                </div>
            </md-content>
        </md-content>


    </md-content>
    <div class="md-actions" layout="row">


        <span flex></span>
        <md-button ng-click="answer()">
            Cancel
        </md-button>
        <md-button ng-click="adduser(pod)" class="md-primary" ng-disabled="!status">
            Add user
        </md-button>
    </div>
</md-dialog>