<md-toolbar layout="row" >
    <h2 class="left">
        <md-button class="md-fab md-primary md-button md-default-theme left" ng-click="addList($event)"
                   aria-label="Comment" aria-disabled="true">
            <i class="fa fa-pencil"></i>
            <md-tooltip md-visible="demo.showTooltip">
                Add List
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-primary md-button md-default-theme left" ng-click="delListTigger($event)"
                   aria-label="Comment" aria-disabled="true">
            <i class="fa fa-times"></i>
            <md-tooltip md-visible="demo.showTooltip">
                Delate List
            </md-tooltip>
        </md-button>

    </h2>

<h1 style="width: 80%;text-align: center;">Lista List</h1>
    <h2 class="right" ng-show="selected">

        <md-button class="md-fab md-primary md-button md-default-theme right" ng-click="addItem($event)"
                   aria-label="Comment" aria-disabled="true">
            <i class="fa fa-plus"></i>
            <md-tooltip md-visible="demo.showTooltip">
                Add Product
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-primary md-button md-default-theme right" ng-click="delItemsTigger($event)"
                   aria-label="Comment" aria-disabled="true">
            <i class="fa fa-times"></i>
            <md-tooltip md-visible="demo.showTooltip">
                Delate product
            </md-tooltip>
        </md-button>
    </h2>


</md-toolbar>

<div layout="row" flex class="front">

    <div layout="column" class="md-sidenav-left md-whiteframe-z5" style="margin-right:80px;">
        <div class="userinfo">

            <img ng-if="isUndefined(user.avatarurl)"  ng-src="{{user.avatarurl}}" class="avatar2" >
            <h1>Hello {{user.usenname}}

            </h1>
        </div>
        <hr>
        <div style="min-height: 600px;width: 250px;">
            <item-list></item-list>


        </div>
        <div class="bottom">
            <hr>
            <md-button class="md-fab md-button md-default-theme left " ng-click="UserManagment  ($event)"
                       aria-label="Comment" aria-disabled="true">
                <i class="fa fa-users"></i>
                <md-tooltip md-visible="demo.showTooltip">
                    Users
                </md-tooltip>

        </div>
    </div>


    <div layout="column" flex id="content" class="front" style="float: left;width: 500px!important;">
        <md-content layout="column" flex class="md-padding">
            <items></items>
        </md-content>
    </div>

</div>
